.content {
  background: url('/assets/meuh.jpg') no-repeat center center fixed;
  padding-top: 30px;
}

mat-card {
  width: 85%;
  // position: relative;
  // top: -180px;
  margin: auto;
}

.main-content {
  text-align: center;
}

